@charset "UTF-8";
/* ===============
   BASIC LAYOUT
   =============== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative;
  background: url(../images/main-bg.jpg) repeat-x #ecedec;
  overflow: hidden; }

/* Header */
#header {
  padding: 10px;
  background: #c05533; }
  #header .main {
    width: 980px; }
    #header .main .social-media {
      width: 155px;
      height: 50px; }
      #header .main .social-media ul {
        list-style: none; }
        #header .main .social-media ul li {
          float: left; }

/* Left Sidebar */
/* Right Sidebar */
/* Footer */
/* ===============
   NAVIGATION
   =============== */
/* Primary */
/* Secondary */
/* Breadcrumbs */
/* Footer */
#footer {
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #c05533; }
  #footer p {
    margin: 0; }

/* ===============
   CONTENT
   =============== */
#content {
  padding: 10px;
  padding-bottom: 12px; }
  #content .main .article-section {
    width: 350px; }
    #content .main .article-section .article-content .article-on-hover {
      display: none; }
