@charset "UTF-8";

/* ===============
   BASIC LAYOUT
   =============== */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	background: url(../images/main-bg.jpg) repeat-x #ecedec;
	overflow: hidden;
}

/* Header */

#header {
	padding: 10px;
	background: #c05533;

	.main {
		width: 980px;

		.social-media {
			width: 155px;
			height: 50px;

			ul {
				
				list-style: none;

				li {
					float: left;
				}
			}
		}
	}
}

/* Left Sidebar */

/* Right Sidebar */

/* Footer */



/* ===============
   NAVIGATION
   =============== */
/* Primary */

/* Secondary */

/* Breadcrumbs */

/* Footer */

#footer {
	width: 100%;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #c05533;

	p {
		margin: 0;
	}
}



/* ===============
   CONTENT
   =============== */

#content {
	padding: 10px;
	padding-bottom: 12px;

	.main {
		.article-section {
			width: 350px;

			.article-content {

				.article-on-hover {
					display: none;
				}
			}
		}
	}
}





