@charset "UTF-8";
@import "_typography.scss";

/* ===============
   BASIC LAYOUT
   =============== */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	background: url(../images/main-bg.jpg) repeat-x #f1f1f1;
	overflow: hidden;
	position: relative;
}

/* Header */

#header {
	padding: 0 10px;
	background: #c05533;
	height: 10px;
	position: fixed;
	width: 100%;
	z-index: 10;

	.main {
		width: 980px;
		position: relative;
		margin: 0 auto;

		.social-media {
			width: 145px;
			height: 40px;
			padding: 5px;
			display: block;
			float: left;
			background: #c08181;
			position: absolute;
			top: 0;
			right: 0;

			ul {
				
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					float: left;
					margin-left: 5px;
					margin-top: 5px;
					margin-bottom: 5px;

					a {
						&#icon-fb {
							background: url(../../sprite_sheet.png) no-repeat 0 0;
							display: block;
							width: 30px;
							height: 30px;
							text-indent: -999em;
							overflow: hidden;

							&:hover {
								background: url(../../sprite_sheet.png) no-repeat -72px 0;
							}
						}

						&#icon-tw {
							background: url(../../sprite_sheet.png) no-repeat -36px 0;
							display: block;
							width: 30px;
							height: 30px;
							text-indent: -999em;
							overflow: hidden;

							&:hover {
								background: url(../../sprite_sheet.png) no-repeat -108px 0;
							}
						}

						&#icon-insta {
							background: url(../../sprite_sheet.png) no-repeat 0 -36px;
							display: block;
							width: 30px;
							height: 30px;
							text-indent: -999em;
							overflow: hidden;

							&:hover {
								background: url(../../sprite_sheet.png) no-repeat -72px -36px;
							}
						}

						&#icon-linked {
							background: url(../../sprite_sheet.png) no-repeat -36px -36px;
							display: block;
							width: 30px;
							height: 30px;
							text-indent: -999em;
							overflow: hidden;

							&:hover {
								background: url(../../sprite_sheet.png) no-repeat -108px -36px;
							}
						}
					}
				}
			}
		}
	}
}

/* Left Sidebar */

/* Right Sidebar */

/* Footer */



/* ===============
   NAVIGATION
   =============== */
/* Primary */

/* Secondary */

/* Breadcrumbs */

/* Footer */

#footer {
	width: 100%;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #c05533;

	.main {
		width: 980px;
		margin: 0 auto;
		
		p {
			margin: 0;
			text-align: center;
			font-size: 10px;
			color: #f1f1f1;
			font-weight: normal;
		}
	}

}



/* ===============
   CONTENT
   =============== */

#content {
	padding: 10px;
	padding-bottom: 12px;
	position: relative;
	width: 1000px;
	margin: 0 auto;

	.main {
		width: 1000px;
		margin: 0 auto;
		overflow: hidden;

		.article-container {
			width: 999em;
			position: relative;
			left: -350px;
			overflow: hidden;
			
			> .article-wrapper {
				float: left;
				position: relative;
				width: 350px;
				top: 0;


				.article-section {
					width: 330px;
					float: left;
					margin: 10px;

					.article-content {

						.article-on-hover {
							display: none;
						}
					}
				}


			}

		}

		
	}

}

.nav-prev-next {

	a {
		&#nav-prev {
			position: fixed;
			left: 0;
			top: 50%;
			background: url(../../sprite_sheet.png) no-repeat 0 -72px;
			width: 50px;
			height: 50px;
			text-indent: -999em;
			display: block;
			margin-left: 5%;

			&:hover {
				background: url(../../sprite_sheet.png) no-repeat 0 -144px;
			}
		}

		&#nav-next {
			position: fixed;
			right: 0;
			top: 50%;
			float: left;
			background: url(../../sprite_sheet.png) no-repeat -72px -72px;
			width: 50px;
			height: 50px;
			text-indent: -999em;
			display: block;
			margin-right: 5%;

			&:hover {
				background: url(../../sprite_sheet.png) no-repeat -72px -144px;
			}
		}
	}
}





